<p>New form</p>

<form method="post" action="/skills">
    <label for= "name">Skill name:</label>
    <input id = "name" name= "name" type="text">

    <label for="description">Description:</label>
    <input id="textarea" name="description" type="text">

<input type="submit" value="Submit" tabindex="3" class="block button">
</form>
