<form method="post" action="/exercises">
  <label for="name">Title:</label>
  <input id="name" name="name" type="text">

  <label for="description">description:</label>
  <input id="textarea" name="description" type="text">

  <label for="source">source:</label>
  <input id="text" name="source" type="text">

  <label for="notes">notes:</label><input id="textarea" name="notes" type="text">

  <!-- <label for="participant_id">participants needed:</label><input id="radio" name="participant_id" type="text"> -->
<!-- ^^ needs to be a drop down of all participant options -->
  <input type="submit" value="Submit" tabindex="3" class="block button">
</form>
