<form method="post" action="/exercises">
  <label for="name">Title:</label>
  <input id="name" name="name" type="text">

  <label for="description">description:</label>
  <input id="textarea" name="description" type="text">

  <label for="source">source:</label>
  <input id="text" name="source" type="text">

  <label for="notes">notes:</label><input id="textarea" name="notes" type="text">

  <input type="submit" value="Submit" tabindex="3" class="block button">
</form>
